body, html {
    width: 100%;
    height: 100%;
}

body {
    animation: body 10s infinite ease-in-out;
    box-sizing: border-box;
    margin: 0;
}

#container {
    display: flex;
    place-items: center;
    place-content: center;
    /*width: 100%;*/
    height: 100%;

}

div#computer {
    flex: 0 0 512px;
    overflow: hidden;
    background: #161616;
    border-radius: 10px;
}

@media (max-width: 512px) {
    div#computer {
        flex: 1 0 fit-content;
    }

    a {
        font-size: 1.5em;
        line-height: 3rem;
    }
}

#folder-dir {
    padding: 8px;
    margin: 0;
    text-align: center;
    color: aliceblue;
}

ul {
    margin: 0;
    padding: 2px;
    background: #000;
    text-indent: 2px;
}

li::before {
    content: '~$';
    color: red;
    margin-right: 4px;
}

li {
    line-height: 1.4em;
}

/*== Links ==*/
a {
    text-decoration: 2px none #8aff46;
    color: #75c000;
    transition: 200ms all;
}

a:hover {
    text-decoration: 2px underline #8aff46;
    color: greenyellow;
    font-size: 1.5em;
}

/*== Animation ==*/
@keyframes body {
    5% {
        background-color: chartreuse;
    }
    25% {
        background-color: aqua;
    }

    50% {
        background-color: blueviolet;
    }

    75% {
        background-color: black;
    }

    95% {
        background-color: white;
    }
}