body {
    background: #1f1d1d;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    place-content: center;
}

ul li {
    display: flex;
    place-content: center;
    place-items: center;
}

ul li a {
    width: 300px;
    height: 300px;
    display: flex;
    place-items: center;
    place-content: center;
    background: blue;
    color: whitesmoke;
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

ul li a:hover {
    color: white;
    background: -webkit-radial-gradient(darkblue, blue), radial-gradient(darkblue, blue);
}
