.dock {
  width: 100%;
  height: var(--nav-bar-dock-height, 46px);
  display: flex;
  justify-content: center;
  background-color: var(--nav-bar-dock-background-color, #8a8a8a);
  border-top: 1px solid var(--nav-bar-dock-border-color, #555);
}

.dock-container {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 0.13fr 0.5fr;
  width: 98.5%;
  height: 100%;
  padding: 4px 0;
}

.dock-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.dock-item {
  height: 100%;
}

/* Icones */
#apps-bar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

#tools-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#clock-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dock-icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.dock-icon:hover {
  background-color: #555;
}

.dock-icon:active {
  background-color: #000;
}

.dock-icon img {
  width: 100%;
  height: 100%;
}

.dock-icon span {
  position: absolute;
  bottom: 0;
  right: calc(50% - 5px);
}

.dock-hidden {
  transform: translateY(calc(100% - 2px));
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.dock-hidden:hover {
  transform: translateY(calc(100% - var(--nav-bar-dock-height, 46px)));
  opacity: 1;
}

.dock-item-menu {
  display: none;
  position: absolute;
  bottom: var(--nav-bar-dock-height, 46px);
  background-color: var(--color-dark, #222);
  border: 1px solid var(--color-gray, #555);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 4px 0;
  z-index: var(--z-index-desktop, 1);
  width: 200px;
  font-size: small;
}

.dock-item-menu .dock-item-menu-option {
  padding: 4px 8px;
  color: var(--color-light, #eee);
  cursor: pointer;
  white-space: nowrap;
}

.dock-item-menu .dock-item-menu-option:hover {
  background-color: var(--color-gray, #555);
}

.dock-item-menu .dock-item-menu-option:active {
  background-color: var(--color-dark, #333);
}








