body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    column-gap: 30px;
}

#div-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
    row-gap: 30px;

}

#div-right {
}

header {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #333333;
    color: #fff;
    padding: 30px;
    border-radius: 0 0 50% 0;
    text-align: center;
}

header>img {
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    transition: all 200ms ease-in-out;
}

header>img:hover {
    filter: grayscale(100%);
    transform: scale(0.99);
}

nav {
    padding: 10px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*nav ul li {*/
/*}*/

nav ul li a {
    text-decoration: none;
    color: grey;
    transition: all 200ms ease-in-out;
}

nav ul:hover li a {
    color: darkgrey;
}

nav ul li a:hover {
    color: #2f2f2f;
}

section {
    padding: 20px;
}

@media (width > 3000px){
    body {
        font-size: 70px;
    }
    #div-left {
        max-width: 500px;
    }
}

@media (width <= 720px) { /*tamanho da aba*/
    #main {
        flex-direction: column;
    }
    header {
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        padding: 30px;
    }
    header img {
        width: 50%;
    }
    nav {
        flex-direction: row;
        border-top: 30px;
    }
    nav ul li a {
        font-size: x-large;
    }
    #div-left {
        width: 100%;
    }
}

/*sd*/
@media (device-width <= 415px) {
    #main {
        flex-direction: column;
    }
    header {
        border-radius: 0;
        padding: 30px;
    }
    header img {
        width: 99%;
    }
    nav {
        flex-direction: row;
        border-top: 30px;
    }
    nav ul li a {
        font-size: xxx-large;
    }
    #div-left {
        width: 100%;
    }
}

@media (415px <= device-width <= 821px) {
    body {
        font-size: 2.5rem;
    }
    #main {
        flex-direction: column;
    }
    header {
        border-radius: 0;
        padding: 30px;
    }
    header img {
        width: 50%;
    }
    nav {
        flex-direction: row;
    }
    nav ul li a {
        font-size: 2.5rem;
    }
    #div-left {
        width: 100%;
    }
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format('woff2');
}
