.perfil-dev__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #0000001f;
}

.perfil-dev__user {
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 20px;
  border: 1px solid #0000001f;
  overflow: hidden;

  & img {
    width: 80%;
    padding: 0;
    border-radius: 50%;
    background-color: gainsboro;
  }
}

.perfil-dev__left {
  background-color: #0000000a;
  padding: 1rem;
  text-align: center;
}

.perfil-dev__right {
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  #disqus_thread {
    padding: 20px;
  }
}
